body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-style: italic;
    margin: auto;
    padding: 0;
    background-color: silver
}

nav {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 20px;

}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a :hover {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: center;
    padding: 0 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
}

.card {
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    margin: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    padding: 50px solid rgb(0, 0, 0);
    border: 5px dotted black;
    border-radius: 5px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px ;
    background-color: white;
    border: 5px solid black;
    border-radius: 30px;

}

textarea{
    width: 300px
        
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid red;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}
